.container {
  font-size: 46px;
  font-family: 'Salsa';
  padding-top: 2%;
  max-width: -webkit-fill-available;
}

.title {
  text-align: center;
  margin: 0;
  color: #303030;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.content-left {
text-align: left;
border-radius: 9px;
height: 400px;
}

.content-right {
  text-align: right;
  border-radius: 9px;
  height: 400px;
  color: black;
}

.row {
  display: inline;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.catchphrase-left {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.catchphrase-right {
  font-size: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.text-left {
  font-size: 20px;
  width: 650px;
  margin-left: 30px;
}

.text-right {
  font-size: 20px;
  width: 650px;
  margin-right: 30px;
}

.linear-gradient {
  background: linear-gradient(#A1CCE0, #EBF4F7, #A1CCE0);
}

.bg-light-cyan {
  background-color: #a1cce0;
}

.reversed-img {
  transform: scaleX(-1);
}