.banner {
  // height: 64vh;
  background-color: #98B8FE;
}

.banner values {
  height: 70vh;
  background-color: #fff;
}

.container-left {
  width: 50%;
  margin-top: 5%;
  h1 {
    margin-top: 9%;
    margin-left: 40%;
    line-height: 150%;
    font-family: "Apercu", "sans-serif";
    color: white;
    font-size: 34px;
  }
  span {
    color: #3E49E3;
  }
  
}
body {
  background-color: #fff;
}
.cta-orange {
  display: flex;
  margin-top: 2%;
  // margin-left: 10%;
  text-decoration: none;
  background-color: #ED746D;
  transition: all 1s ease;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  width: 140px;
  justify-content: center;
  margin-left: 35px;
}

.cta-orange-container {
  display: flex;
  margin-top: 2%;
  // margin-left: 46%;
  text-decoration: none;
  background-color: #ED746D;
  transition: all 1s ease;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
  width: 170px;
  box-shadow: none !important;
  border: none;
  margin-bottom: 4%;
  font-weight: bold;
  margin-left: 42%;
  justify-content: center;
  text-align: center;
}
.cta-orange-container:hover {
  text-decoration: none;
  color: white;
}

.cta-orange:hover {
  text-decoration: none;
  color: #fff;
}

.container-right {
  width: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.position-bloc {
  margin-top: -2px;
}
.cta {
  display: flex;
  align-items: baseline;
  width: 400px;
  place-content: space-around;
  margin-left: 17%;
}

// .cta-grey {
//   display: flex;
//   margin-top: 2%;
//   text-decoration: none;
//   background-color: #98B8FE;
//   transition: all 1s ease;
//   color: #fff;
//   padding: 10px;
//   border-radius: 10px;
//   opacity: 0.8;
//   box-shadow: none !important;
//   border: none;
//   font-weight: bold;
// }

.apost {
  position: relative;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
  margin-left: 48%;
  width: 24px;
  height: 24px;
}

.carousel {
  height: 50vh;
  background-image: linear-gradient(to bottom right, #e0e9fd, #fad4d4);
  // background: linear-gradient(60deg, #98B8FE, #ED746D);
  margin-left: auto;
  margin-bottom: -30px;
    .mains {
      width: 48px;
      height: 48px;
    }
    h1 {
      justify-content: center;
      font-size: 24px;
      font-family: "Apercu", "sans-serif";
      text-align : center;
      margin-top: 11%;
      color: #001E71;
      margin-left: 6%;
      margin-right: 6%;
    }
  p {
    text-align : center;
    color: #ED746D;
    margin-top: 24px;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
  }
}

.title-2 {
  font-family: "Apercu", "sans-serif";
  margin-top: 4%;
  font-size: 35px;
  color: #ED746D;
}

.title-4 {
  margin-top: 2%;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  color: #ED746D;
}

.mt-3 {
  font-family: "Apercu", "sans-serif";
  width: 340px;
  
}

.m-md-auto {
  width: 140px;
  height: 127px;
  display: block;
}

.mamie {
  height: 200px;
  position: relative;
  left: 90%;
  margin-top: -22%;
}

.paragraph {
  margin-top: 0px;
  margin-left: 26px;
}