.contenaire {
  
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  box-shadow: 0px 0px 0px 3px rgba(62,73,227,0.2);
  width: 50%;
  margin-left: 16px;
  margin-bottom: 24px;
  height: 195px;
}

img {
	grid-column: 1;
  grid-row: 1;
  margin-top: 24px;
  margin-left: 32px;
  border-radius: 24px;
}

h1 {
	font-size: 24px;
  font-family: "Apercu", "sans-serif";
  margin-top: 6%;
  color: #001E71;
  grid-column: 2 / -1;
}

.description {
	grid-row: 2;
	grid-column: 2 / 4;
  margin-top: -42px;
  font-family: "Apercu", "sans-serif";
  font-size: 14px;
}

.tags {
	grid-row: 2;
	grid-column: 2 / 4;
  padding-left: 15px;
  border-radius: 24px;
  color: white;
  height: 36px;
  width: 82px;
  background-color: #98B8FE;
  margin-top: 24px;
  vertical-align: baseline;
  padding-top: 7px;
  opacity: 0.33;
}

.cta-en-savoir-plus {
	grid-row: 2;
  grid-column: 3;
  color: white; 
  background-color: #ED746D;
  height: 36px;
  width: 136px;
  padding-top:24px;
  padding-left: 34px;
  padding-top: 7px;
  margin-top: 24px;
}

.title {
  font-size: 24px;
  font-family: "Apercu", "sans-serif";
  margin-top: 6%;
  color: #001E71;
  margin-left: 16px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.color {
  color: #98B8FE;
}