.search-form {
  display: flex;
  justify-content: flex-start;
  margin-top: 34px;
  padding-right: 35px;
  // display: flex;
  // margin-left: 250px;
}

.search-bar-custom{
  width: 280px;
}

.main-container {
  a {
    text-decoration: none;
  }
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  // grid-auto-rows: minmax(50%, auto);
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;  
}

.search {
  color: white; 
  background-color: #ED746D;
  height: 36px;
  width: 136px;
}

.search:hover {
  background-color: rgba(237, 116, 109, 0.45);
  text-decoration: none;
  color: white;
}

#map {
  grid-row: 1 / 15;
  grid-column: 2;
  width: 95%; 
  height: 100vh;
  margin-top: 16px;
  margin-right: 15px;
  border-radius: 5px;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  box-shadow: 0px 0px 0px 3px rgba(62,73,227,0.2);
  border-radius: 8vw 2vw 3vw 4vw;
  width: 84%;
  margin: auto;
  height: 184px;
  margin-top: 24px;
  border-radius: 24px 0vw 0vw 24px;
  position: relative
}

.titre-de-offre {
  margin-left: 24px;
}

.plat {
  grid-column: 1;
  grid-row: 1;
  margin-top: 9px;
  margin-left: 10px;
  border-radius: 24px;
}

h1 {
	font-size: 24px;
  font-family: "Apercu", "sans-serif";
  margin-top: 6%;
  color: #001E71;
  grid-column: 2 / -1;
}

.description {
	grid-row: 2;
	grid-column: 2 / 4;
  margin-top: -76px;
  font-family: "Apercu", "sans-serif";
  font-size: 18px;
  margin-right: 10px;
  margin-top: -80px;
  margin-left: 24px;
  margin-right: 12px;
}

.tags {
	grid-row: 2;
	grid-column: 2 / 4;
  padding-left: 15px;
  border-radius: 24px;
  color: white;
  height: 36px;
  width: 82px;
  background-color: #98B8FE;
  margin-top: -28px;
  vertical-align: baseline;
  padding-top: 7px;
  opacity: 0.33;
}

.cta-en-savoir-plus {
	grid-row: 2;
  grid-column: 3;
  color: white; 
  background-color: #ED746D;
  height: 36px;
  width: 136px;
  padding-top:24px;
  padding-left: 34px;
  padding-top: 7px;
  margin-top: -28px;
}
.cta-en-savoir-plus:hover {
  background-color: rgba(237, 116, 109, 0.45);
  text-decoration: none;
  color: white;
}


.title {
  font-size: 24px;
  font-family: "Apercu", "sans-serif";
  color: #001E71;
  margin-left: 36px;
  margin-top: 5%;
  margin-bottom: 2%;
}

.color {
  color: #98B8FE;
}

.wrapper {
  img {
    // position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    grid-column: 1;
    grid-row: 1;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 24px;
    background-color: white;
  }
}

.wrapper {
  img.plat.top:hover {
    opacity:0;
  }
}

.wrapper:hover {
  background-color: rgba(237,116,109,0.08);
}

img.plat.top {
  z-index: 0;
  object-fit: cover;
}

img.plat {
  z-index: -1;
  object-fit: contain;
}

