.body {
  background-color: #97B8FD;
  // height: 100vh;
}

.btn-show{
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-blue {
  background-color: #e3ecff;
  color: #97B8FD;
  border-radius: 40px;
}

.bg-blue-second {
  background-color: #e3ecff;
  color: #85abfd;
}

.bg-orange {
  background-color: #ED746D;
  color: white;
}

.bg-orange-second {
  background-color: #e6aba8;
  border-radius: 40px;
}

.img-meal img {
  object-fit: cover;
  border-radius: 0;
  height: 270px;
}

.btn-resa {
  background-color: white;
  border-radius: 40px;
  color: #ED746D;
}

.title-meal {
  font-size: 24px;
}

// .adress-meal {
//   margin-left: 95px;
// }

.avatar-card {
  height: 5%;
}

.text-muted {
  margin-top: 24px;
}
// .mt-3 {
//   margin-top: -40px!important;
//   margin-left: 52px;
// }

.cadre {
  min-height: 50vh;
  height: 100vh;
  display: flex;
}