<div class="containerz-chatroom">
  <div class="w-200px chat-message">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to "#{chatroom.name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
    <% end %>
  </div>
  <div class="image-chatroom">
    <%= image_tag "chatroom.png"%>
  </div>
</div>