<div class="banner d-flex">
  <div class="container-left">
    <h1> <span class="blue">Déjeune</span> avec une <br> personne agée en échange<br> d'un bon repas</h1>
      <div class="cta">
        <button class="cta-orange">Je m'inscris</button>
        <button class="cta-grey">Je veux en savoir plus</button>
      </div>
  </div>
  <div class="container-right" id="test">
    <%= image_tag 'home.png' %>
  </div>
</div>

<div class="container">
  <div class="content-wrapper position-relative z-index-1">
    <h2 class="title-2 text-center">Un projet qui nous tient à coeur</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="item mx-auto mt-5">
            <div class="picto-title-wrapper d-flex d-md-block justify-content-between align-items-center">
              <h3 class="title-4 my-4 text-md-center">Aucune influence<br>des marques</h3>
              <p class="mt-3 text-md-center">Morbi facilisis at nisi ut volutpat. Aliquam ut tincidunt dui. Sed hendrerit efficitur nulla, a commodo leo. Phasellus nec volutpat mauris, sed consequat magna. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="item mx-auto mt-5">
            <div class="picto-title-wrapper d-flex d-md-block justify-content-between align-items-center">
              <h3 class="title-4 my-4 text-md-center">Aucune influence<br>des marques</h3>
              <p class="mt-3 text-md-center">Morbi facilisis at nisi ut volutpat. Aliquam ut tincidunt dui. Sed hendrerit efficitur nulla, a commodo leo. Phasellus nec volutpat mauris, sed consequat magna. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
         <div class="item mx-auto mt-5">
          <div class="picto-title-wrapper d-flex d-md-block justify-content-between align-items-center">
            <h3 class="title-4 my-4 text-md-center">Aucune influence<br>des marques</h3>
            <p class="mt-3 text-md-center">Morbi facilisis at nisi ut volutpat. Aliquam ut tincidunt dui. Sed hendrerit efficitur nulla, a commodo leo. Phasellus nec volutpat mauris, sed consequat magna. </p>
          </div>
          </div>
        </div>
      </div>
    <button class="cta-orange-container">Je découvre</button>
  </div>
</div>




<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <%= image_tag 'apost.png', class: "apost" %>
    <div class="carousel-item active">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus libero at erat pellentesque, vitae gravida nisi porttitor. Aliquam fringilla lacus vel lacus imperdiet dignissim. 😄</h1>
      <p>Lucie Muller. 22 ans</p>
    </div>
    <div class="carousel-item">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus libero at erat pellentesque, vitae gravida nisi porttitor. Aliquam fringilla lacus vel lacus imperdiet dignissim. 😄</h1>
      <p>Lucie Muller. 22 ans</p>
    </div>
    <div class="carousel-item">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus libero at erat pellentesque, vitae gravida nisi porttitor. Aliquam fringilla lacus vel lacus imperdiet dignissim. 😄</h1>
      <p>Lucie Muller. 22 ans</p>
    </div>
  </div>
  <%# <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a> %>
  <%# <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    Copyright © 2020-2021 Matt & Alex & Leo . All rights reserved.
  </div>


    <%# <div class="row">
      <div class="content-right">
        <p class="catchphrase-left">
          Un bon repas
        </p>

        <p class="text-left">
          En plus du partage d’un moment chaleureux et sympathique, cette solution est économique et saine. 
          Elle permet aux étudiants d’économiser sur leur budget repas et de goûter à une cuisine plus élaborée
          et équilibrée. Manger des repas cuisinés tout en économisant et en apprenant de nouvelles recettes.
        </p>
      </div>
    </div>
  </div> %>



<%# <div class="container">
  <div class="card"></div>
    <div class="title">
      <h1>Un projet qui nous tient a coeur</h1>
    </div>

    <div class="row">
      <div class="content-left">
        <p class="catchphrase-left">
          Convivialité
        </p>

        <p class="text-left">
          Cette proposition permet aux seniors isolés ou cherchant du contact de pouvoir discuter autours d’un
          déjeuner/dîner. Cette solution intergénérationnelle donne la possibilité d’échanger, de favoriser 
          les liens sociaux tout en partageant ses expériences mutuelles.
        </p>
      </div>
    </div> %>