<div class="d-flex justify-content-center bg-light-cyan mb-2 p-5">
  <div class="col-5 p-5">
    <span class="display-4 font-weight-bold d-inline-block mt-5">
      Conviv'App!
    </span>

    <p class="my-4">
      Participer à la lutte contre la solitude des personnes âgées
      en mettant en relation des étudiants et des seniors pour qu'ils 
      partagent un moment convivial autour d'un repas sain et fait maison
    </p>

    <a class="btn btn-primary rounded mb-5" href="#">
      S'inscrire
    </a>
  </div>

  <div class="col-3 d-flex">
    <div class="col">
      <%= image_tag('student.png') %>
    </div>
    <div class="col">
      <%= image_tag('senior.png', class: 'reversed-img') %>
    </div>
  </div>
</div>

<div class="container linear-gradient">
  <div class="title">
    <h1>Un projet qui nous tient a coeur</h1>
  </div>

  <div class="row">
    <div class="content-left">
      <p class="catchphrase-left">
        Convivialité
      </p>

      <p class="text-left">
        Cette proposition permet aux seniors isolés ou cherchant du contact de pouvoir discuter autours d’un
        déjeuner/dîner. Cette solution intergénérationnelle donne la possibilité d’échanger, de favoriser 
        les liens sociaux tout en partageant ses expériences mutuelles.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="content-right">
      <p class="catchphrase-left">
        Un bon repas
      </p>

      <p class="text-left">
        En plus du partage d’un moment chaleureux et sympathique, cette solution est économique et saine. 
        Elle permet aux étudiants d’économiser sur leur budget repas et de goûter à une cuisine plus élaborée
        et équilibrée. Manger des repas cuisinés tout en économisant et en apprenant de nouvelles recettes.
      </p>
    </div>
  </div>
</div>