<div class="banner linear-gradient-banner">
  <div class="container">
    <h1>Conviv'App</strong>!</h1>
    <p>Participer à la lutte contre la solitude des personnes âgées <br>
    en mettant en relation des étudiants et des seniors pour qu'ils <br>
    partagent un moment convivial autour d'un repas sain et fait maison</p>
    <a class="btn btn-flat" href="#">S'inscrire</a>
  </div>
</div>

<div class="container linear-gradient">
  <div class="title">
    <h1>Notre idée</h1>
  </div>

  <div class="row">
    <div class="content-left">
      <p class="catchphrase-left">A determiner</p>
       <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <%# <img class="picto-home" src="/assets/bob.png"> %>
    </div>
  </div>
  <div class="row">
    <div class="content-right">
      <p class="catchphrase-right">A determiner</p>
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <%# <img class="picto-home" src="/assets/lunettes.png"> %>
    </div>
  </div>
  <%# <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div> %>