<div class="banner d-flex">
  <div class="container-left">
    <h1> <span class="blue">Déjeune</span> avec une <br> personne agée en échange<br> d'un bon repas</h1>
      <div class="cta">
        <button class="cta-orange">Je m'inscris</button>
        <button class="cta-grey">Je veux en savoir plus</button>
      </div>
  </div>
  <div class="container-right" id="test">
    <%= image_tag 'home.png' %>%
  </div>

</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    Copyright © 2020-2021 Alexandre. All rights reserved.
  </div>


    <%# <div class="row">
      <div class="content-right">
        <p class="catchphrase-left">
          Un bon repas
        </p>

        <p class="text-left">
          En plus du partage d’un moment chaleureux et sympathique, cette solution est économique et saine. 
          Elle permet aux étudiants d’économiser sur leur budget repas et de goûter à une cuisine plus élaborée
          et équilibrée. Manger des repas cuisinés tout en économisant et en apprenant de nouvelles recettes.
        </p>
      </div>
    </div>
  </div> %>



<%# <div class="container">
  <div class="card"></div>
    <div class="title">
      <h1>Un projet qui nous tient a coeur</h1>
    </div>

    <div class="row">
      <div class="content-left">
        <p class="catchphrase-left">
          Convivialité
        </p>

        <p class="text-left">
          Cette proposition permet aux seniors isolés ou cherchant du contact de pouvoir discuter autours d’un
          déjeuner/dîner. Cette solution intergénérationnelle donne la possibilité d’échanger, de favoriser 
          les liens sociaux tout en partageant ses expériences mutuelles.
        </p>
      </div>
    </div> %>