<%= link_to offer_path(offer) do %>
  <div class="card-category-mapboxxx" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.photo.key, height: 300, crop: :fill %>')">
      <span id="title-title-mapbox"><%= offer.title %></span>
      <br>
      <span id="date-date-mapbox"><%= offer.date %></span>
  </div>
<% end %>
