<div class="container">
  <h1>Invitations à diner en ligne</h1>
  <ul>
    <% @offers.each do |offer| %>
      <li><%= offer.title %></li>
      <%= link_to "En savoir plus", offer_path(offer), class:"btn btn-primary" %>
    <% end %>
  </ul>
  <br>
  <%= link_to "Créer une invitation", new_offer_path(@offer), class:"btn btn-secondary" %>
</div>
