.calendar {
  &.accepted {
    .reservation {
      &.pending {
        display: none;
      }

      &.denied {
        display: none;
      }

      &.completed {
        display: none;
      }
    }
  }

  &.pending {
    .reservation {
      &.accepted {
        display: none;
      }

      &.denied {
        display: none;
      }

      &.completed {
        display: none;
      }
    }
  }

  &.denied {
    .reservation {
      &.accepted {
        display: none;
      }

      &.pending {
        display: none;
      }

      &.completed {
        display: none;
      }
    }
  }

  &.completed {
    .reservation {
      &.accepted {
        display: none;
      }

      &.pending {
        display: none;
      }

      &.denied {
        display: none;
      }
    }
  }

  .reservation {
    text-decoration: none;

    &.accepted {
      background: #2566ff;
      .color-font-reservation{
        color:white;
      }
      :hover {
        color:#2566ff;
        background: white;
        text-decoration: none;;
      }
    }

    &.pending {
      background: #f7d21c;
      .color-font-reservation{
        color:#f7d21c;
        background: none;
      }
      :hover {
        color:#f7d21c;
        background: white;
        text-decoration: none;;
      }
    }

    &.denied {
      background: #942521;
      .color-font-reservation{
        color:white;
      }
      :hover {
        color:#942521;
        background: white;
        text-decoration: none;;
      }
    }

    &.completed {
      background: #71e48e;
      .color-font-reservation{
        color:white;
      }
      :hover {
        color:#71e48e;
        background: white;
        text-decoration: none;
      }
    }
  }

  .calendar-title {
    text-align: center;
    font-size: 20px;
    color: #ed746d;
    transition: background 0.3s ease;
    padding: 4px 7px 10px 7px;
    
  }
  .command {
    color: #ed746d;
  }
  .command:hover {
    background: rgba(237,116,109,0.8);
    color: whitesmoke;
  
  }
  #calendar-content {
    margin-top: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-radius: 15px;
  }
  #dayname {
    text-align: center;
    color: #8b8b8b;
  }
  #date-number {
    text-align: center;
    color: #8b8b8b;
  }
}

.banner-calendar-notice-status {
  display: flex;
  justify-content: space-evenly;
  margin-left: -30px;
  margin-bottom: -30px;
}

.notice-status-color-denied {
  height: 50px;
  width: 200px;
}

.notice-status-color-pending {
  height: 50px;
  width: 200px;
}

.notice-status-color-accepted {
  height: 50px;
  width: 200px;
}

.notice-status-color-completed {
  height: 50px;
  width: 200px;
}

.square-status-button-denied {
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background-color: #942521
}

.square-status-button-pending {
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background-color: #f7d21c;
}

.square-status-button-accepted {
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background-color: #2566ff
}

.square-status-button-completed {
  height: 19px;
  width: 19px;
  border-radius: 5px;
  background-color: #1eb444;
}

#space-evenly-end {
  display: flex;
  justify-content: space-evenly;
}