.body-chatroom {
  background-color: #99B8FE;
  height: 91vh;
}

.container-chatroom {
  margin-left: 7%;
  margin-right: 7%;
} 

.list-group {
  width: 22%;
}
.chatroom {
  background: white;
  height: calc(80vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;
  width: 88%;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

// .window {
//   height: 400px;
// }

.return {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(80vh - 70px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}

.title-chat {
  background-color: white;
  color: #3E49E3;
  height: 65px;
  padding-left: 21px;
  align-items: center;
}