.containerz-chatroom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.image-chatroom {
  height: 500px;
}

.chat-message {
  margin-left: 15%;
  margin-top: 10%;
  text-decoration: none;
}
