#map {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0px;
  margin-top: 16px;
  margin-right: 15px;
  border-radius: 5px;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}