.navbar-lewagon {
  justify-content: space-between;
  background: #EBF4F8;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.7);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.btn-outline-warning {
  background-color: #358eb7;
  color: white;
  border: none;

}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

